<div
    class="message {{@message.type}}"
    {{on 'mouseenter' (fn @handleMouseIn @message)}}
    {{on 'mouseleave' (fn @handleMouseOut @message)}}
     ...attributes
>
    <span class="text">
        {{@message.text}}
    </span>
    <a class="close" {{on 'click' (fn @handleClick @message)}}>
        &times;
    </a>
    {{yield}}
</div>
